/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #adb9e4;
  background-color: #a3d4a0;
}

header ul a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul a:hover:not(.active) {
  background-color: #82afd0;
  color: #bd36c3;
}
header ul a.active {
  color: #d9e000;
  background-color: #4caf50;
}

main {
  flex: 1;
  overflow: auto;
  background:rgb(233, 243, 215);
}

/*login form*/
form.new_user {
  width:100%;
  font-family:Helvetica;
  color:#fff;
  padding:30px 0px;
}
form.new_user h2 {
  text-align:center;
  margin:30px 0;
  font-size:30px;
}

form.new_user input:not(.action-b) {
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}

form.new_user input:focus:not(.action-b),form.new_user input:active:not(.action-b),form.new_user button:focus:not(.action-b),form.new_user button:active:not(.action-b) {
  outline:none;
}

form.new_user .actions input{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
form.new_user .actions input:active {
  background:#27ae60;
}